
.stopwatch{
  /*background: rebeccapurple;*/
  height: 100vh;
  width: 100%;
  display: table;
}

.stopwatch div{
  text-align: center;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
 font-family: 'Share Tech Mono', monospace;

  font-size: 25em;
}

.stopwatch .miliseconds{
  font-size: .5em !important;
}

.blink{
    animation-name: blink;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}


@keyframes blink {

    0%{
        background-color: #FF5252;
    }


    50%{
        background-color: #e57373;
    }

    100%{

        background-color: #ffcdd2;
    }
}